RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f


RewriteRule ^dashboard?$ dashboard.php
RewriteRule ^userdetail?$ userdetail.php
RewriteRule ^home?$ index.php
RewriteRule ^logout?$ logout.php
RewriteRule ^viewuserdetail?$ viewuserdetail.php
